@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* PROMO COMPONENTE */
.truck{
    color: white;
    font-size: 15px
}
.txtPromo{

    color: white;
    font-size: 12px;
}

/* ICONO MENU HAMBURGUESA */

.container button{
    border:none;
}
.container button:focus{
    box-shadow: none;
}

/* LOGO */
.logo{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

/* BARRA NAVEGACION */
.nav-item a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    padding-right: 8px;
}
.cart{
    font-size: 20px;
    color: rgb(10, 59, 171)
}




