@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.trans{
    transition: transform .3s ;
    border-radius: 30px;
    
}
.trans:hover{
    transform: translateY(-15px);
    transition: transform .3s ;
}
.card-img-top{
    width: 100px;
    height: 200px;
    max-width: 60%; 
    margin:auto;
}
.card-title{
    color: rgb(0, 0, 161);
}
.price{
    font-weight: 700;
}
.cuotas{
    font-size: smaller;
}